* {
  scroll-behavior: smooth;
}

:root {
  --font-heading: "Roboto Slab", serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-family: "Poppins", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.inter-font {
  font-family: var(--font-body);
}

a {
  display: inline-block;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}

button {
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}
